<a href="https://colab.research.google.com/github/Aquina-Panna/Data-Science-Portfolio/blob/main/Google_Colab_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Google Colab Demo

In [ ]:
# Import dependencies and magics
import pandas as pd
import math
import numpy as np
from sklearn.linear_model import LinearRegression
import csv
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Load the data file to a data frame named df1. 

df1 = pd.read_excel('data1.xlsx')
df1.head()

   x1    y1
0  10  8.04
1   8  6.95
2  13  7.58
3   9  8.81
4  11  8.33

In [ ]:
# describe the series in the dataframe

df1.describe()

In [ ]:
## Adding few new code

print ("This is updated by Aquina Panna")

This is updated by Aquina Panna